:root {
    --display: none;
    --text: #efefef;
    --background: #2f2f2f;
    --highlight-background: #4f4f4f;
}
@font-face {
    font-family: "default";
    src: url("noto_mono.ttf");
}
body *{
    margin: 0;
    padding: 0;
    font-family: "default";
    font-size: 1em;
    overflow: hidden;
}
html {
    background-color: var(--background);
    color: var(--text);
}

.room {
    display: var(--display);
    position: absolute;
}

.terminal {
    position: absolute;
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;

    height: 10vh;
    margin-top: 85vh;

    border: 1px solid var(--text);
    box-sizing: border-box;
    border-radius: .2vw;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    padding: 0.5vw 0.5vw;

    background-color: var(--highlight-background);
}
.terminal input {
    width: fit-content;
    border: 0;
    box-shadow: 0;
    outline: none;
    background-color: var(--highlight-background);
    color: var(--text);
}
.terminal_prompt {
    width: fit-content;
    float: left;
}

.map {
    width: 45vw;
    height: 45vw;
    margin-left: 27.5vw;
    margin-right: 27.5vw;
    position: absolute;
    display: var(--display);
}

.statusDisplay {
    border: 2px solid var(--text);
    border-radius: 3px;
    min-width: 15vw;
    min-height: fit-content;
    max-width: fit-content;
    max-height: 20vh;

    float: right;
    margin-top: 40vh;
}

a {
    text-decoration: underline;
    color: var(--text);
    font-size: 1em;
}

.folder {
    display: var(--display);
}
.folder .folder {
    margin-left: 1vw;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background);
    border-left-color: var(--highlight-background);
    box-sizing: border-box;
}
.folder .file {
    margin-left: 1vw;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background);
    border-left-color: var(--highlight-background);
    box-sizing: border-box;
}
details summary {
    list-style: none;
}