:root {
    --display: none;
    --text: #efefef;
    --background: #2f2f2f;
    --highlight-background: #4f4f4f;
}
@font-face {
    font-family: "default";
    src: url("noto_mono.ttf");
}
body *{
    margin: 0;
    padding: 0;
    font-family: "default";
    font-size: 1em;
    overflow: hidden;
}
html {
    background-color: var(--background);
    color: var(--text);
}
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.hide_scrollbar {
    scrollbar-width: none;
}
.room {
    display: var(--display);
    position: absolute;
}

.terminal {
    position: absolute;
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;

    height: 10vh;
    margin-top: 85vh;

    border: 1px solid var(--text);
    box-sizing: border-box;
    border-radius: .2vw;

    overflow-y: scroll;
    -ms-overflow-style: none;

    padding: 0.5vw 0.5vw;

    background-color: var(--highlight-background);
}
.terminal input {
    width: fit-content;
    border: 0;
    box-shadow: 0;
    outline: none;
    background-color: var(--highlight-background);
    color: var(--text);
}
.terminal_prompt {
    width: fit-content;
    float: left;
}

.map {
    width: 45vw;
    height: 45vw;
    margin-left: 27.5vw;
    margin-right: 27.5vw;
    position: absolute;
    display: var(--display);
}

.statusDisplay {
    border: 2px solid var(--text);
    border-radius: 3px;
    min-width: 15vw;
    min-height: fit-content;
    max-width: fit-content;
    max-height: 20vh;

    float: right;
    margin-top: 45vh;

    padding: .5vh .5vw;
}
.information_name {
    float: left;
}
.information {
    float: right;
}

a {
    text-decoration: underline;
    color: var(--text);
    font-size: 1em;
}

.main_window{
    width: 33vw;
    height: 65vh;

    border: 2px solid var(--highlight-background);
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;

    margin-left: 33vw;
    margin-top: 17vh;
}
.search_container {
    width: 50%;
    height: 5%;

    margin-left: 25%;
    margin-top: 10%;
}
.search_form {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-color: var(--highlight-background);
    color: var(--text);
}
.search_input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;

    padding-left: 2%;
    
    background-color: var(--highlight-background);
}
.changeSearch {
    float: right;
    width: 1.5vw;
    height: 1.5vw;

    margin-right: 3%;
    background: none;
    border: none;
}

/*Files*/
.files {
    border: 2px solid var(--highlight-background);
    border-radius: 5px;

    width: 20vw;
    height: 92.5vh;

    padding: 1vh 1vw;

    overflow-y: scroll;
    overflow-x: auto;
}

.folder {
    font-size: 1.5em;
}
.folder .folder {
    margin-left: 1.75vw;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background);
    border-left-color: var(--highlight-background);
    box-sizing: border-box;

    font-size: 1em;
}
.folder a {
    margin-left: 1.75vw;
    border-width: 1px;
    border-style: solid;
    border-color: var(--background);
    border-left-color: var(--highlight-background);
    box-sizing: border-box;

    font-size: 0.75em;
    display: inline-block;
}
.folder summary img{
    width: 1.5vw;
    height: 1.5vw;
    padding-right: 0.25vw;

    vertical-align: text-bottom;
    filter: invert(100%) sepia(1%) saturate(83%) hue-rotate(251deg) brightness(114%) contrast(87%);
}
details summary {
    list-style: none;
}


@media only screen and (max-width: 428px) {
    /* For mobile phones */
    .terminal {
        width: 95vw;
        margin: 86vh auto 1vh auto;
    }
    .statusDisplay {
        display: none;
    }
    .folder summary img {
        width: 8.5vw;
        height: 8.5vw;
    }
}
